:root {
   font-family: "Sintony", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F40C3F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sintony-regular {
  font-family: "Sintony", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sintony-bold {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
font-family: "Gasoek One", sans-serif;
text-transform:uppercase;
letter-spacing: 2pt;
z-index: 2;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0d1318;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




/* Landing */

canvas {
  display: block;
  z-index: -1;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.headerWrapper h2 {
font-family: "Gasoek One", sans-serif;
color: #1a1a1a;
}

.nav {
  display: flex;
  gap: 36px;
align-items: center;
margin-top: 0;
padding-bottom: 0;
}

.nav h3 {
  font-family: "Gasoek One", sans-serif;
text-transform:uppercase;
letter-spacing: 2pt;
color: #1a1a1a;
}

.interactive {
top: 0;
z-index: -1;
}

h1 {
  max-width: 800px;
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72pt;
  color: #1a1a1a;
  margin: 0;
}

p {
 font-family: "Sintony", sans-serif;
 max-width: 900px;
 color: #1a1a1a;
}

.landingWrapper p {
 font-family: "Sintony", sans-serif;
 font-weight: 600;
 color: #1a1a1a;
}



.landingWrapper {
  margin-left: 10em;
  margin-top: 130px;
  z-index: 2;
}

.landingWrapper h1 {
  margin-bottom: 0;
}

.primaryCTA {
  display: inline-block;
  cursor: pointer;
  pointer-events: auto;
  visibility: visible;
  z-index: 2; /* Ensure it's above other elements */
 box-shadow: 1px 2px 20px #e76c6c;
}


/* Explore nav */

.headerWrapper.headerExplore{
  background-color: #1a1a1a;
  margin: 0;
}

.headerWrapper.headerExplore h2{
  color:  rgb(243, 243, 243);
}

.headerWrapper.headerExplore h3{
  color:  rgb(243, 243, 243);
}

.headerWrapper.headerExplore button {
  display: inline-block;
  cursor: pointer;
  pointer-events: auto;
  visibility: visible;
  background-color: rgb(243, 243, 243);
  color: #1a1a1a;
  z-index: 2; /* Ensure it's above other elements */
  box-shadow: 1px 2px 20px #531b1b;
}





/* Map Filter */

.filter {
  background-color: white;
  color: #1a1a1a;
  min-width: 250px;
  padding: 16px;
}


.mapWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
  gap: 16px;
  padding: 0 24px;
  box-sizing: border-box;
}

.filter {
  width: 300px;
  padding: 5px 20px;
  background-color: rgb(243, 243, 243);
  border-right: 1px solid #ddd;
  border-radius: 8px;

}

.filter label {
  display: block;
  margin-bottom: 0.1rem;
  font-weight: bold;
}

.filter select,
.filter input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  height: 50px;
  background-color: white;
  color: #1a1a1a;
  font-family: 'Sintony';
  box-shadow: 1px 2px 20px #f1dbdb;
}

.dbBest {
  width: 93%;
}

.filter button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter button:hover {
  background-color: #333;
}

.filterDateWrapper {
  display: flex;
  gap:24px
}

/* Map Result */

.result{
  position: absolute;
  left: 45px;
  top: 105px;
  color: #1a1a1a;
  z-index: 3;
  display: flex;
  align-items:baseline;
  gap: 16px
}
.result p{
  color: #1a1a1a;
  z-index: 3;
  font-size: 13px;
}

.result h3{
  color: #1a1a1a;
  z-index: 3;
  font-size: 40px;
  font-weight: 900;
}

/* Map Popup */

.popup {
  font-family: 'Sintony';
  color: #1a1a1a;
}

.vsWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 9pt;
  margin-bottom: 0.6em;
  border-bottom: #F40C3F solid 1px;
}
.vsWrapper p {
color: #333
}

.popupDeaths {
  font-size: 20pt;
}

.popupLine {
display: flex;
align-items: center;
gap: 0.5em;
font-size: 9pt;
}

.dandd{
  display: flex;
  justify-content: space-around;
}

.popupvs {
  text-align: center;
  font-size: 11pt;
}

/*Footer*/

.footerWrapper {
  left: 0;
  bottom: -200px;
  position: absolute;
  width: 100vw;
  height: 200px;
  background-color: #1a1a1a;
  box-sizing:content-box;
  overflow: hidden;
}

.footerWrapper.footerExplore {
  position: relative;
  bottom: 0;
}

.footerWrapper.footerAboutUs {
  position: relative;
  bottom: 0;
}

.footerWrapper h2 {
  color: rgb(243, 243, 243);
  font-family: "Gasoek One", sans-serif;
  margin: 5px 25px;
}

.footerWrapper p {
  color: rgb(243, 243, 243);
  margin: 20px 30px;
}

.footerText {
  display: flex;
  align-content: flex-end;
  gap: 150px;
}

.footerOne {
  color: rgb(252, 6, 6);
  font-family: "Gasoek One", sans-serif;
  font-size:10px;
}

.footerTwo a {
  line-height: 3.5;
  color: rgb(243, 243, 243);
  font-size: 10px;
  
}

.footerThree {
  color: rgb(243, 243, 243);
  font-size: 10px;
}

.footerSpan {
  color: rgb(243, 243, 243);
  margin-left: 25px;
}

.youtubeImage {
  height: 25px;
  width: 25px;
  margin: 10px;
}

.linkedinImage {
  height: 25px;
    width: 25px;
    margin: 10px;
}

.twitterImage {
  height: 25px;
    width: 25px;
    margin: 10px;
}
