.teamTitle {
    display: flex;
    justify-content: center;

}

.teamMembers {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 60px;
    margin-bottom: 300px;
    padding: 24px;
    gap: 48px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 24px;
  background-color: rgb(243, 243, 243);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member img {
object-fit: cover;
  margin: auto;
  width: 200px;
  height:200px;
  border-radius: 16px;

}

.member h2 {
font-family: "Gasoek One", sans-serif;
color: #1a1a1a;
}

.member p{
    color: #1a1a1a;
    font-size: 12pt;
    font-weight: 700;
    text-align: center;
}